<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <title>SportsStore</title>
</head>
<body>
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <a class="navbar-brand" href="#">SPORTS STORE</a>
    </div>
    <div class="col-md-12">
        <div class="row">
        <div id="categories" class="col-md-2">
           @await  Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
       </div>
    </div>
</body>
</html>